@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
body{
    font-family: 'Geologica', sans-serif;
}
h1{
    font-size: 40px;
}
#popup h4{
    font-size: 20px;
}
#popup h2{
    font-size: 35px;
    font-weight: 600;
}
#board{
    border: 0px solid rebeccapurple;
    width: 700px;
    height: 290px;
}
#boardcon{
    border: 0px solid cornflowerblue;;
    float: left;
    width: 66%;
    min-width: 690px;
}
#wheel{
    border: 0px solid red;  
    height: 280px;
    width: 32%;
    float: right; 
}
#letterscon{
    border: 0px solid navy;
    float: left;
    height: 100px;
    width: 99%;
}
#letters{
    border: 0px solid navy;
    height: 100px;
    width: 1130px;
}
#letters input {
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    width: 35px;
    height: 35px;
    border: 2.5px solid black;
    float: left;
    margin: 4px;
    margin-top: 65px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
#letters input:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
#letters input:disabled{
    color: rgb(181, 181, 181);
    background-color: rgb(255, 255, 255);
    border-color: rgb(191, 191, 191);
}
.box{
    width: 40px;
    height: 60px;
    border: 2.8px solid black;
    float: left;
    margin: 2px;
    background-color: rgb(161, 234, 197);
}
.noborder{
    border: 2.8px solid white;
    background-color: white;
}
#ws {
    height: 40px;
    width: 140px;
    font-size: 15px;
    border: none;
    /* background-color: rgb(255, 247, 220); */
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    font-family: 'Geologica', sans-serif;
}
#ws:hover {
    font-weight: 700;
}
/* ----- */
/* THE 'WHEEL' */
/* ----- */
.slottt-machine-recipe {
    border: 0px solid rgb(3, 37, 26);
    /* box-shadow: inset 0px 0px 3px 1px #043322;
    border-radius: 3px; */
    margin: 0px auto;
    text-align: center;
    line-height: 65px;
    width: 340px;
    height: 65px;
    margin-top: 40px;
    /* margin-left: -1.5px; */
    background-color:rgb(170, 241, 206);
}
.slottt-machine-recipe__mask {
    border: 0px solid cyan;
    padding-left: 10px;
    width: 100%;
    height: 65px;
    overflow: hidden; 
    position: relative;
    display: inline-block;
    margin-bottom: -28px;
    /* margin-left: -1.5px; */
}
.slottt-machine-recipe__items_container {
    position: absolute;
}
.slottt-machine-recipe__item {
    min-height: 150px;
    max-height: 150px;
    margin: 0px;
    padding: 0px;
    background-size: contain;
}
/* Typography */
.recipe_if, .recipe_then {
    font-weight: bold;
    font-size: 40px;
}
.tagline {
    font-weight: normal;
    font-size: 24px;
}
a {
   font-weight: bold;
   text-decoration: none;
   color: #33CCFF;
}
/* ---- */
/* WHEEL END */
/* ---- */
#popup{
    border: 15px solid rgb(112, 254, 183);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -175px;
    z-index: 10001;
    text-align: center;
}
#popup2{
    border: 15px solid rgb(199, 139, 255);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -175px;
    z-index: 10001;
    text-align: center;
}
#gotitbtn{
    height: 40px;
    width: 140px;
    font-size: 15px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, #830db1 0%, #ae008b 51%, #830db1 100%);
    font-family: 'Geologica', sans-serif;
    margin-top: 10px;
}
#shadow{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.775);
    z-index: 1000;
}
#begingame{
    border: none;
    background-image: linear-gradient(to right, rgb(230, 255, 45) 0%, rgb(255, 230, 0) 51%, rgb(230, 255, 45) 100%);
    font-family: 'Geologica', sans-serif;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.gamebox{
    color: black;
    background-color:rgb(255, 245, 233);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}
#popup3{
    border: 3px solid rgb(123, 0, 189);
    border-radius: 2px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 370px;
    height: 80px;
    right: 10px;
    top: 10px;
    z-index: 10001;
    text-align: left;
}
#finishedgame{
    border: 15px solid rgb(238, 186, 14);
    border-radius: 2px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -175px;
    z-index: 10001;
    text-align: center;
}
#playagain{
    border: none;
    background-image: linear-gradient(to right, rgb(255, 188, 45) 0%, rgb(255, 230, 0) 51%, rgb(255, 188, 45) 100%);
    font-family: 'Geologica', sans-serif;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.words{
    float: left;
    font-size: 15px;
    margin-left: 20px;
    width: 200px;
}
#turns{
    border: 0px solid goldenrod;
    top: 3px;
    left: 3px;
    height: 40px;
    width: 17%;
    margin-right: none;
}
#turns h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
#frontguess{
    color: rgb(237, 192, 79);
}
#iknow{
    height: 40px;
    width: 140px;
    font-size: 15px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, #a747fb 0%, #85affd 51%, #a747fb 100%);
    font-family: 'Geologica', sans-serif;
    margin-top: 15px;
}
#iknow:disabled{
    color: rgb(163, 163, 163);
}
#iknowdiv{
    border: 15px solid #85affd;
    border-radius: 2px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -175px;
    z-index: 10001;
    text-align: center;
}
#text{
    font-size: 30px;
    width: 460px;
}
#close{
    height: 40px;
    width: 140px;
    font-size: 15px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, #fb4747 0%, #ff7272 51%, #fb4747 100%);
    font-family: 'Geologica', sans-serif;
    margin: 30px 5px 0px 0px;
}
#enter{
    height: 40px;
    width: 140px;
    font-size: 15px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, #4afb47 0%, rgb(133, 253, 145) 51%, #4afb47 100%);
    font-family: 'Geologica', sans-serif;
    margin: 30px 0px 0px 5px;
}