@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
body{
    font-family: 'Geologica', sans-serif;
}
h1{
    font-size: 40px;
}
#board{
    border: 0px solid rebeccapurple;
    width: 680px;
    height: 280px;
}
#boardcon{
    border: 0px solid rebeccapurple;;
    float: left;
    width: 64%;
    min-width: 690px;
}
#wheel{
    border: 1px solid red;  
    height: 280px;
    width: 34%;
    float: right; 
}
#letterscon{
    border: 0px solid navy;
    float: left;
    height: 100px;
    width: 99%;
}
#letters{
    border: 0px solid navy;
    height: 100px;
    width: 1060px;
}
#letters div {
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    float: left;
    margin: 4px;
    margin-top: 65px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
#letters div:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.box{
    width: 40px;
    height: 60px;
    border: 2px solid black;
    float: left;
    margin: 2px;
    background-color: rgb(161, 234, 197);
}
.noborder{
    border: 2px solid white;
    background-color: white;
}
#ws {
    height: 30px;
    width: 130px;
    border: none;
    background-color: rgb(149, 222, 185);
    font-family: 'Geologica', sans-serif;
}
#ws:hover {
    font-weight: 700;
}
/* ----- */
/* THE 'WHEEL' */
/* ----- */
.slottt-machine-recipe {
    border: 1px solid black;
    margin: 0px auto;
    width: 400px;
    margin-top: 30px;
}
.slottt-machine-recipe__mask {
    border: 1px solid cyan;
    width: 100%;
    height: 150px;
    overflow: hidden; 
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
}
.slottt-machine-recipe__items_container {
    position: absolute;
}
  
.slottt-machine-recipe__item {
    min-height: 150px;
    max-height: 150px;
    margin: 0px;
    padding: 0px;
    background-size: contain;
}
/* Typography */
.recipe_if, .recipe_then {
    font-weight: bold;
    font-size: 50px;
}
  
.tagline {
    font-weight: normal;
    font-size: 24px;
}
  
a {
   font-weight: bold;
   text-decoration: none;
   color: #33CCFF;
}